@using MvcCV.Models.Entity
@model List<TblCertificiates>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/startbootstrap-resume-gh-pages/css/styles.css/"> <!-- CSS dosyanızı buraya ekleyin -->
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <br />
                            <a href="/Certificate/NewCerti/" class="btn btn-info"> Add New Certifacate</a>
                            <br />
                            <br />
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    @foreach (var item in Model)
                                    {
                                        <div class="time-label">
                                            <a href="/Certificate/GetCerti/@item.id" class="btn btn-success">
                                                <span class="bg-success">
                                                    @item.date
                                                </span>
                                            </a>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <div class="timeline-item">
                                                <div class="timeline-body">
                                                    <strong>Organization:</strong> @item.organizator<br />
                                                    @item.comment
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</body>
</html>
